---
const response = await fetch("http://127.0.0.1:8000/");
const data = await response.json();
---
<section class="section-sm">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <div class="image-wrapper">
          <img class="img-fluid w-100" src={data[23].img} />
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="pr-lg-3 pr-0">
          <h2 id="what-is-the-main-mission-of-mine-and-what-i-wanna-do">
            {data[23].title}
          </h2>
          <p>
            <i class="ti-calendar"></i> {data[23].fecha}
            <br>
            {data[23].descr}
          </p>
          <a href="/posts/24" class="btn btn-outline-primary">Leer mas →</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-sm">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6 order-2 order-md-1">
        <div class="pr-lg-3 pr-0">
          <h2 class="mb-4">{data[24].title}</h2>
          <p>
            <i class="ti-calendar"></i> {data[24].fecha}
            <br>
            {data[24].descr}
          </p>
          <a href="/posts/25" class="btn btn-outline-primary">Leer mas →</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0 order-1 order-md-2">
        <div class="image-wrapper">
          <img class="img-fluid w-100" src={data[24].img} />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-sm">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <div class="image-wrapper">
          <img class="img-fluid w-100" src={data[25].img} />
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="pr-lg-3 pr-0">
          <h2 id="what-is-the-main-mission-of-mine-and-what-i-wanna-do">
            {data[25].title}
          </h2>
          <p>
            <i class="ti-calendar"></i> {data[25].fecha}
            <br>
            {data[25].descr}
          </p>
          <a href="/posts/26" class="btn btn-outline-primary">Leer mas →</a>
        </div>
      </div>
    </div>
  </div>
</section>
