---
import CardNote from "./CardNote.astro";
import Cardsmall from "./Card.astro";

const response = await fetch("http://localhost:8000/api/noticia");
const data = await response.json();
---

<div class="container p-3">
  <CardNote />
  <div class="row">
    <h3>Noticias relacionadas</h3>
  </div>
  <div class="row">
    <div class="col">
      <Cardsmall
        src={data[10].img}
        fecha={data[10].fecha}
        href="/posts/11"
        title={data[10].title}
        body={data[10].descr}
      />
    </div>
    <div class="col">
      <Cardsmall
        src={data[11].img}
        fecha={data[11].fecha}
        href="/posts/12"
        title={data[11].title}
        body={data[11].descr}
      />
    </div>
    <div class="col">
      <Cardsmall
        src={data[12].img}
        fecha={data[12].fecha}
        href="/posts/13"
        title={data[12].title}
        body={data[12].descr}
      />
    </div>
    <div class="col">
      <Cardsmall
        src={data[13].img}
        fecha={data[13].fecha}
        href="/posts/14"
        title={data[13].title}
        body={data[13].descr}
      />
    </div>
  </div>
</div>
