---
/*Exportar la funcion de interface de los props para utilizarlo como tyscrip las funciones y describir el tipo de dato que son*/
export interface Props {
  title: string;
  body: string;
  src: string;
  href: string;
  fecha: string;
}
/*Astro.props permite utilizar variables de manera global las cuales se pueden utilizar en cualquier parte del proyecto, siempre que se importe el archivo donde se guarde esa variable*/
/*Se esperan variables constantes */
const { href, title, body, src, fecha } = Astro.props;
---
<!--Tarjeta donde se puede visualizar la informacion de la noticia de forma compacta-->
<div class="card" style="height: 600px;">
  <img class="img-fluid" src={src}  />
  <div class="card-body">
    <div class="small text-muted">{fecha}</div>
    <h4 class="card-title">{title}</h4>
    <p class="card-text">{body}</p>
  </div>
  <div class="card-footer">

    <!--Parte de la tarjeta que permite ver la noticia completa -->
    <a href={href} class="btn btn-primary stretched-link">Leer mas →</a>
  </div>
</div>
