---
import pasantia from "../img/carousel/CNA-Pasantia.jpeg";
import musculo from "../img/carousel/musculo.jpg";
import kalos from "../img/carousel/kalos.png";
import era from "../img/carousel/era.jpg";
import reu from "../img/carousel/reu.jpeg";
import CardCarousel from "./CardCarousel.astro";

const response = await fetch("http://localhost:8000/api/noticia");
const data = await response.json();
---

<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3 class="mb-3">Noticias del dia</h3>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-md-4 mb-3">
            <CardCarousel
              src={data[0].img}
              fecha={data[0].fecha}
              href="/posts/1"
              title={data[0].title}
              body={data[0].descr}
            />
          </div>
          <div class="col-md-4 mb-3">
            <CardCarousel
              src={data[1].img}
              fecha={data[1].fecha}
              href="/posts/2"
              title={data[1].title}
              body={data[1].descr}
            />
          </div>
          <div class="col-md-4 mb-3">
            <CardCarousel
              src={data[2].img}
              fecha={data[2].fecha}
              href="/posts/3"
              title={data[2].title}
              body={data[2].descr}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
