---
import Card from "./Card.astro";
import Cardwidgets from "./Cardwidgets.astro";

const response = await fetch("http://localhost:8000/api/noticia");
const data = await response.json();
---

<section class="p-3">
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-7">
        <!-- Featured blog post-->
        <div class="mb-5">
          <Card
            src={data[3].img}
            fecha={data[3].fecha}
            href="/posts/4"
            title={data[3].title}
            body={data[3].descr}
          />
        </div>
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src={data[4].img}
                fecha={data[4].fecha}
                href="/posts/5"
                title={data[4].title}
                body={data[4].descr}
              />
            </div>
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src={data[5].img}
                fecha={data[5].fecha}
                href="/posts/6"
                title={data[5].title}
                body={data[5].descr}
              />
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="mb-4">
              <Card
              src={data[6].img}
              fecha={data[6].fecha}
              href="/posts/7"
              title={data[6].title}
              body={data[6].descr}
              />
            </div>
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src={data[7].img}
                fecha={data[7].fecha}
                href="/posts/8"
                title={data[7].title}
                body={data[7].descr}
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-5">
        <!-- Search widget-->
        <div class="mb-4">
          <!-- <Cardwidgets header="Buscar">
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder="Buscar..."
                aria-label="Buscar..."
                aria-describedby="button-search"
              />
              <button class="btn btn-primary" id="button-search" type="button"
                >Ir</button
              >
            </div>
          </Cardwidgets> -->
        </div>
        <!-- Categories widget-->
        <div class="mb-4">
          <Cardwidgets header="Categorias">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a style="color:rgb(255,204,0);" href="Fechas">Fechas Academicas</a></li>
                  <li><a style="color:rgb(255,204,0);" href="Academico">Academico</a></li>
                  <li><a style="color:rgb(255,204,0);" href="Cientifico">Cientifico</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a style="color:rgb(255,204,0);" href="Deportes">Deportes</a></li>
                  <li><a style="color:rgb(255,204,0);" href="Cultural">Cultural</a></li>
                  <li><a style="color:rgb(255,204,0);" href="Social">Social</a></li>
                </ul>
              </div>
            </div>
          </Cardwidgets>
        </div>
        <!-- Side widget-->
        <div class="mb-4">
          <Card
            src={data[8].img}
            fecha={data[8].fecha}
            href="/posts/9"
            title={data[8].title}
            body={data[8].descr}
          />
        </div>
        <div class="mb-4">
          <Card
          src={data[9].img}
          fecha={data[9].fecha}
          href="/posts/10"
          title={data[9].title}
          body={data[9].descr}
          />
        </div>
      </div>
    </div>
  </div>
</section>
