---
import Modal from "./Modal.astro";
---

<section class="content">
  <Modal />
  <table class="table" id="noticias">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</section>

<script is:inline>
  function cerrar() {
    $("#editNoticiaModal").modal("hide");
  }
  fetch("https://api-noticias.onrender.com", {
    method: "GET",
    headers: {
      "Access-Control-Allow-Origin": "*",
      Accept: "application/json",
      "Content-Type": "Application/json",
    },
  })
    .then((res) => res.json())
    .then((data) => {
      let tabla = document.getElementById("noticias").querySelector("tbody");
      if (data.length !== 0) {
        for (let i = 0; i < data.length; i++) {
          let fila = `<tr>
                            <td><a href="javascript:editNoticia(${data[i].id})">${data[i].id}</a></td>
                            <td><a href="javascript:editNoticia(${data[i].id})">${data[i].title}</a></td>
                            <td>${data[i].fecha}</td>
                        </tr>`;
          let btn = document.createElement("tr");
          btn.innerHTML = fila;
          if (i == 0) {
            tabla.innerHTML = fila;
          } else {
            tabla.appendChild(btn);
          }
        }
      } else {
        tabla.innerHTML = `
                          <td colspan="3">
                              <div class="alert alert-danger text-center" role="alert">
                                  <h3 class="text-white">NO HAY DATOS</h3>
                              </div>
                          </td>
                      `;
      }
    });
  let editNoticia = (id) => {
    fetch("https://api-noticias.onrender.com/" + id, {
      method: "GET",
      headers: {
        "Access-Control-Allow-Origin": "*",
        Accept: "application/json",
        "Content-Type": "Application/json",
      },
    })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("editTitulo").value = data.title;
        document.getElementById("editDescripcion").value = data.descr;
        document.getElementById("editNoticia").value = data.cuerpo;
        document.getElementById("editImg").value = data.img;
        document.getElementById("editFecha").value = data.fecha;
      });
    $("#editNoticiaModal").modal("show");

    document.getElementById("editNoticiasForm").addEventListener("submit", (e) => {
      e.preventDefault();
      let editNoticias = {
        title : document.getElementById("editTitulo").value,
        descr : document.getElementById("editDescripcion").value,
        cuerpo : document.getElementById("editNoticia").value,
        img : document.getElementById("editImg").value,
        fecha : document.getElementById("editFecha").value,
      };
      console.log(editNoticias);
      fetch("https://api-noticias.onrender.com/"+id, {
          method: "PUT",
          body: JSON.stringify(editNoticias),
          headers: {
            "Content-Type": "application/json",
          },
        }).then((res) => res.json());
        document.getElementById("editNoticiasForm").reset();
        $("#editNoticiaModal").modal("hide");
        location.reload();
    });
  };
</script>
