---
import CardNote from "./CardNote.astro";
import Cardsmall from "./Card.astro";

const response = await fetch("https://noti-unah.herokuapp.com/");
const data = await response.json();
---

<div class="container p-3">
  <CardNote />
  <div class="row">
    <h3>Noticias relacionadas</h3>
  </div>
  <div class="row">
    <div class="col">
      <Cardsmall
        src={data[17].img}
        fecha={data[17].fecha}
        href="/posts/18"
        title={data[17].title}
        body={data[17].descr}
      />
    </div>
    <div class="col">
      <Cardsmall
        src={data[18].img}
        fecha={data[18].fecha}
        href="/posts/19"
        title={data[18].title}
        body={data[18].descr}
      />
    </div>
    <div class="col">
      <Cardsmall
        src={data[19].img}
        fecha={data[19].fecha}
        href="/posts/20"
        title={data[19].title}
        body={data[19].descr}
      />
    </div>
  </div>
</div>